<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if name %}
        Hello {{ name | upper() }}!!
    {% else %}
        Hello World!!
    {% endif %} <!-- 닫는태그 -->
    <br>
    {{ item | default('item is no defined')}}
    
    <ul>  <!-- 반복문 -->
    {% for key, value in dt.items() %}
        <li>{{ key }} : {{ value }}</li>
    {% endfor %} <!-- 닫는태그 -->
    </ul>
    <ul> <!-- 반복문 -->
    {% for i in range(5) %}
        <li>{{ i }}</li>
    {% endfor %} <!-- 닫는태그 -->
    </ul>
</body>
</html>